:root {
  --blue1: #0d8ffb;
  --blue2: #0083ef;
  --blue3: #005daa;
  --blue4: #004a88;
  --blue5: #003969;
  --pink: #ed174f;
  --orange: #faa636;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ccdfee;
  font-size: 1rem;
}

/* Navigation Bar */
.navbar {
  padding: 0;
}

.logo {
  width: 80px;
  height: auto;
}
.brandTitle {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1rem;
  color: var(--blue3);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--blue1);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 4px solid var(--blue1);
  color: var(--blue1);
}

@media screen and (min-width: 567px) {
  .logo {
    width: 120px;
  }
  
  .brandTitle {
    font-size: 1.5rem;
    padding: 5px 0;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  .navbrand {
    padding: 0.2rem;
  }
  #registerBtn {
    padding-right: 15px;
  }
}
/* End of Navigation Bar */

/* Main Section */
main {
  background: url("../images/Marathon_blue_background.jpg") no-repeat center center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.raceTitle {
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 100px;
}

hr {
  background: var(--warning);
  padding: 2px 30%;
  opacity: 0.8;
}

.address {
  display: flex;
  flex-direction: column;
}

.directions {
  color: var(--warning);
}

.socialBtns i {
  font-size: 1.8rem;
  margin: 5px 0;
  color: var(--warning);
  cursor: pointer;
}

@media screen and (min-width: 567px) {
  main {
    height: 95vh;
  }
  .raceTitle {
    font-size: 2.5rem;
    margin: 100px 0 20px 0;
  }
  .address {
    font-size: 1.5rem;
  }
  .address div {
    margin-bottom: 10px;
  }
  .socialBtns i {
    font-size: 3.5rem;
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .socialBtns i {
    margin-top: 20px;
  }
}
/* End of Main Section */

/* Races Grid Section */
.races {
  text-align: center;
}

.gridTitle {
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}

.racesGrid {
  display: flex;
  flex-direction: column;
}

.rGridOne {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  margin: 20px 40px;
}

.rGridOne div {
  padding: 10px;
}

.rGridBand {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 3px;
}

.raceType, .pricing, .timing {
  color: var(--pink);
  font-size: 1.3rem;
}

.signUpBtn {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--blue3);
}

@media screen and (min-width: 567px) {
  .gridTitle {
    font-size: 2.3rem;
    margin: 50px 0;
  }

  .racesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .rGridBand, .raceType, .pricing {
    padding: 20px;
  }
  .signUpBtn {
    padding: 10px;
  }
}

@media screen and (min-width: 992px) {
  .racesGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 0 100px;
  }
  .rGridOne {
    margin: 20px;
  }
  .rGridBand {
    padding: 10px;
  }
  .raceType {
    margin: 20px;
  }
  .pricing, .timing {
    margin: 5px;
  }
}
/* End of Races Grid Section */

/* Footer */
footer {
  color: var(--primary);
  font-size: 0.85rem;
  text-align: right;
  font-weight: 500;
}
@media screen and (min-width: 567px) {
  footer {
    font-size: 1.1rem;
    margin-top: 50px;
  }
}
/* End of Footer Section */